strict-peer-dependencies=false
ignore-workspace-root-check=true
onlyBuiltDependencies[]=skia-canvas
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=unrs-resolver
